/* reset css */ 
body { 
margin: 0; 
padding: 0; 
} 

 
* { 
box-sizing: border-box; 
} 

 
h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p { 
margin: 0px; 
padding: 0px; 
} 

 
ul, 
ol, 
li { 
list-style: none; 
margin: 0px; 
padding: 0px; 
} 

 
a, 
a:hover, 
a:focus { 
text-decoration: none; 
} 

 
img { 
width: 100%; 
height: 100%; 
display: block; 
} 

 
.btn, 
button, 
button:focus, 
input:focus, 
textarea:focus, 
select, 
select:focus, 
a:focus { 
outline: 0px !important; 
} 

 
button { 
background-color: transparent; 
border: 0; 
cursor: pointer; 
} 

 
button[disabled] { 
pointer-events: none; 
} 

 
input { 
padding: 0; 
} 

 
input:required { 
box-shadow: none; 
} 

 
input:invalid { 
box-shadow: none; 
} 

 

/* basic setting */ 
$body-bg: #f8f7fc; 
$body-color: #18253d; 
$white: #fff; 
$main-blue: #001935; 
$secondary-blue: #3c88fd; 
$freedom-blue: #02b8ff; 
$dark-gray: #4a4a4a; 
$light-gray: #a7aaaf; 

$sizes: ( 
25: 25%, 
50: 50%, 
75: 75%, 
100: 100% 
); 

 

/* 使用@each 產出css size設定 */ 

@each $prop, $abbrev in (width: w, height: h) { 
@each $num, $val in $sizes { 
.#{$abbrev}-#{$num} { 
#{$prop}: $val; 
} 
} 
} 

 
$spacer: 1rem; 
$spacers: ( 
0: 0, 
1: ( 
$spacer * 0.25 
), 
2: ( 
$spacer * 0.5 
), 
3: ( 
$spacer * 0.75 
), 
4: $spacer, 
5: ( 
$spacer * 1.25 
), 
6: ( 
$spacer * 1.5 
), 
7: ( 
$spacer * 1.75 
), 
8: ( 
$spacer * 2 
) 
); 

 
/* 使用@each 產出css spacer設定 */ 

@each $prop, $abbrev in (margin: m, padding: p) { 
@each $num, $val in $spacers { 
.#{$abbrev}-#{$num} { 
#{$prop}: $val; 
} 
.#{$abbrev}t-#{$num} { 
#{$prop}-top: $val; 
} 
.#{$abbrev}r-#{$num} { 
#{$prop}-right: $val; 
} 
.#{$abbrev}b-#{$num} { 
#{$prop}-bottom: $val; 
} 
.#{$abbrev}l-#{$num} { 
#{$prop}-left: $val; 
} 
.#{$abbrev}x-#{$num} { 
#{$prop}-left: $val; 
#{$prop}-right: $val; 
} 
.#{$abbrev}y-#{$num} { 
#{$prop}-top: $val; 
#{$prop}-bottom: $val; 
} 
} 
} 

 

/* html body display */ 

html { 
font-size: 16px; 
height: 100%; 
} 
body { 
height: 100%; 
background: $body-bg; 
color: $body-color; 
font-family: "PingFang TC"; 

 
} 
.d-none { 
display: none; 
} 
.d-inline { 
display: inline; 
} 
.d-inline-block { 
display: inline-block; 
} 
.d-block { 
display: block; 
} 
.d-flex { 
display: flex; 
} 

 

/* flex alignment cursor */ 

 

.flex-column { 
flex-direction: column; 
} 
.justify-content-start { 
justify-content: flex-start; 
} 
.justify-content-end { 
justify-content: flex-end; 
} 
.justify-content-center { 
justify-content: center; 
} 
.justify-content-between { 
justify-content: space-between; 
} 
.justify-content-around { 
justify-content: space-around; 
} 
.align-content-start { 
align-content: flex-start; 
} 
.align-content-end { 
align-content: flex-end; 
} 
.align-content-center { 
align-content: center; 
} 
.align-items-start { 
align-items: flex-start; 
} 
.align-items-end { 
align-items: flex-end; 
} 
.align-items-center { 
align-items: center; 
} 
.text-center { 
text-align: center; 
} 
.text-right { 
text-align: right; 
} 
.text-left { 
text-align: left; 
} 
.cursor-pointer { 
cursor: pointer; 
} 

 

/* @extend %... */ 
%standard-boxshadow { 
box-shadow: 3px 0 13px 0 rgba(100, 112, 134, 0.1); 
} 

@mixin margin($num , $direction , $spacing){
  :nth-child(#{$num}){
    margin-#{$direction}:#{$spacing}px
  }
}

 /* global */
:root {
  --main-dark: #03396a;
  --grey-1: #e4e4e4;
  --background-grey: #f3f3f3;
  --main-color: #ff6500;
  --border-color: #e4e4e4;
  --zebra-color: #e9e9e9;
  --header-color: #cdcdcd;
  --table-grey-text: #828282;
  --white: white;
  --background-white:white;
  --main-text-color: black;
  --header-text-color: black;
  --table-background-color: #ffffff;
  --logo-url: url("https://raw.githubusercontent.com/ALPHACamp/WFE-data-table/0f97f3113bff18353154b8644eb0b31fff2a3bef/icons/logo.svg");
  --darkmode-toggle-url: url("https://raw.githubusercontent.com/ALPHACamp/WFE-data-table/0f97f3113bff18353154b8644eb0b31fff2a3bef/icons/darkmode-on.svg");
}

[data-theme="dark"] {
  --main-dark: #3a3a3a;
  --grey-1: #e4e4e4;
  --background-grey: #202020;
  --main-color: transparent;
  --border-color: #e4e4e4;
  --zebra-color: #575757;
  --header-color: #2e2e2e;
  --table-grey-text: rgba(255, 255, 255, 37%);
  --white: white;
  --background-white: #6b6b6b;
  --main-text-color: white;
  --header-text-color: #aaaaaa;
  --table-background-color: #3a3a3a;
  --logo-url: url("https://raw.githubusercontent.com/WendellLiu/alphacamp-frontend-course/master/data-table/static/icons/logo-dark.svg");
  --darkmode-toggle-url: url("https://raw.githubusercontent.com/WendellLiu/alphacamp-frontend-course/master/data-table/static/icons/darkmode-off.svg");
}

/* global end */

.scrollbar {
  overflow-y: scroll;
  padding-right: 6px;
  &::-webkit-scrollbar{
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
      border-radius: 3px;
      background-color: rgba(0, 0, 0, 0.1);
    }
}


body{
  display: flex;
  min-height: 100vh;
  width: 100%;
  background-color: var(--background-grey);
  color: var(--main-text-color);
}

nav{
  min-width: 100px;
  display: grid;
  grid-template-rows: 1fr 400px 3fr;
  grid-template-columns: 1fr;
  background-color: var(--main-dark);
  .sidebar__home{
    grid-row: 1/2;
    background: var(--logo-url);
    background-size: 100% 100%;

  }
  .sidebar__menu{
    display: grid;
    grid-template-rows: repeat(4 , 1fr);
    grid-template-columns: 1fr;
    grid-auto-flow: column;
    li:hover:not(:last-of-type){
      border: 5px solid var(--background-white);
    }
    li:nth-child(1){
      background: url("https://raw.githubusercontent.com/WendellLiu/alphacamp-frontend-course/master/data-table/static/icons/frame.svg");
    }
    li:nth-child(2){
      background: url("https://raw.githubusercontent.com/WendellLiu/alphacamp-frontend-course/master/data-table/static/icons/folder.svg");
    }
    li:nth-child(3){
      background: url("https://raw.githubusercontent.com/WendellLiu/alphacamp-frontend-course/master/data-table/static/icons/mail.svg");  
    }
    li.sidebar__menu__link{
      background-size: 40px 40px;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      margin: 20px;
    }
    // li.active{
    //   background: var(--white);
    // }
  }
}

.sidebar__darkmode{
  .sidebar__darkmode__label {
    display: inline-block;
    background: var(--darkmode-toggle-url);
    background-repeat: no-repeat;
    background-size: 40px 40px;
    background-position: 50% 50%;
    cursor: pointer;
    height: 100%;
    width: 100%;
  }
  .sidebar__darkmode__input {
    display: none;
  }
}



main{
  flex-grow:1;
  height: 100%;
  padding: 42px 50px 39px;
  overflow: hidden;
  table{
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
    background: var(--table-background-color);
    margin-top: 10px;
    .table__row{
      display: grid;
      grid-template-columns: 40px repeat(3 , 1fr) minmax(50px , 2fr) repeat( 3 ,minmax(110px , 1fr)) 1fr;
      border-bottom: 1px solid var(--border-color);
    }
    .table__cell{
      text-align: center;
      line-height: 50px;
    }
    .table__cell--price , .table__cell--startime , .table__cell--endtime{
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      @include margin(1 , right , 15);
      img{
        position: absolute;
        width: 20px;
        height: 20px;
        right: 0px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  thead{
    display: block;
    position: fixed;
    z-index: 1;
    left: calc(100px + 50px);
    right: 62px;
    margin-top: -3px;;
    background: var(--header-color);
    color: var(--header-text-color);
    .table__cell--ad{
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  .tbody{
    display: block;
    padding-top: 54px;
    height: 100%;
    color: var(--main-text-color);
    .table__body__row{
      &:nth-child(2n){
      background-color: var(--zebra-color);
      }
      &.focus{
        background-color: rgba($color: #f09f09, $alpha: 0.5);
      }
      .table__cell--action{
        position: relative;
        .cell__action__icon{
          height: 30px;
          width: 30px;
          margin: 10px auto;
          
        }
        .action__menu{
          position: absolute;
          z-index: 999;
          height: 180px;
          width: 130px;
          right:70%;
          top: 100%;
          background: var(--background-white);
          border: 1px solid var(--border-color);
          @extend %standard-boxshadow;
          .menu__body{
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content:space-evenly;
            width: 100%;
            height: 100%;
            .menu__item{
              height: 30%;
              display: flex;
              align-items: center;
              .menu__item__icon{
                width: 50px;
                height: 80%;
                margin-right: 10px;
              }
            }
            .menu__item:hover{
              opacity: 0.5;
            }        
          }
        }
        .hidden{
          display: none;
        }
      }
    }
  }
}

